In [1]:
## Calculate correlation
import pandas as pd

news_data = pd.read_feather('../results/20.ftr')
covid_data = pd.read_feather('../results/covid.ftr')
pubmed_data = pd.read_feather('../results/pubmed.ftr')
arxiv_data = pd.read_feather('../results/arxiv.ftr')
yelp_korean_data = pd.read_feather('../results/yelp_korean.ftr')

In [2]:
covid_data[['model','k','s', 'd', 'c', 'HARIN']]

       model   k         s         d         c     HARIN
0   bertopic  10  0.577007  0.456464  0.318669  0.446206
1   bertopic  20  0.554006  0.455566  0.360983  0.452283
2   bertopic  30  0.605106  0.462367  0.345894  0.466411
3   bertopic  40  0.596871  0.455245  0.343973  0.460709
4   bertopic  50  0.599012  0.451186  0.329430  0.455277
5     cluhtm  10  0.254029  0.428789  0.641046  0.436875
6     cluhtm  20  0.239824  0.415109  0.676804  0.439473
7     cluhtm  30  0.237653  0.412511  0.666712  0.434569
8     cluhtm  40  0.236510  0.412013  0.688404  0.441186
9     cluhtm  50  0.226500  0.408126  0.702310  0.441189
10      hlda  10  0.543158  0.583701  0.529656  0.546650
11      hlda  20  0.543869  0.552977  0.520953  0.533874
12      hlda  30  0.564526  0.518998  0.517030  0.528183
13      hlda  40  0.555872  0.505547  0.514901  0.520186
14      hlda  50  0.565749  0.486820  0.504713  0.513903

In [3]:
news_data[['model','k','s', 'd', 'c','HARIN']]

       model   k         s         d         c     HARIN
0   bertopic  10  0.488521  0.479303  0.522991  0.491969
1   bertopic  20  0.407308  0.571346  0.489595  0.484522
2   bertopic  30  0.404891  0.577440  0.482136  0.483274
3   bertopic  40  0.410498  0.571832  0.483245  0.483640
4   bertopic  50  0.434326  0.578516  0.479368  0.492429
5     cluhtm  10  0.577446  0.487573  0.439463  0.496479
6     cluhtm  20  0.589625  0.477845  0.433071  0.495178
7     cluhtm  30  0.583318  0.476925  0.433391  0.492900
8     cluhtm  40  0.582223  0.477966  0.433580  0.492944
9     cluhtm  50  0.588139  0.468574  0.431305  0.491046
10      hlda  10  0.571510  0.467771  0.552540  0.525301
11      hlda  20  0.553731  0.509056  0.547616  0.531433
12      hlda  30  0.568680  0.489154  0.551447  0.531063
13      hlda  40  0.566606  0.476227  0.548965  0.525293
14      hlda  50  0.557739  0.489105  0.547863  0.526253
15     hyhtm  10  0.516092  0.473400  0.395258  0.456968
16     hyhtm  20  0.510069  0.478058  0.393191  0.455835
17     hyhtm  30  0.513947  0.452102  0.388318  0.446941
18     hyhtm  40  0.510252  0.448060  0.386661  0.443841
19     hyhtm  50  0.511612  0.451534  0.385040  0.444902

In [4]:
pubmed_data[['model','k','s', 'd', 'c', 'HARIN']]

       model   k         s         d         c     HARIN
0   bertopic  10  0.185814  0.839758  0.510783  0.506997
1   bertopic  20  0.200361  0.794778  0.487276  0.489197
2   bertopic  30  0.158639  0.810767  0.492898  0.482560
3   bertopic  40  0.152469  0.831744  0.501297  0.490218
4   bertopic  50  0.227526  0.736251  0.482193  0.477170
5     cluhtm  10  0.393339  0.712943  0.381796  0.491066
6     cluhtm  20  0.375231  0.712538  0.381501  0.484859
7     cluhtm  30  0.380659  0.690472  0.381484  0.479363
8     cluhtm  40  0.377170  0.681836  0.381563  0.475388
9     cluhtm  50  0.385519  0.671896  0.379678  0.474241
10      hlda  10  0.206560  0.797282  0.534209  0.507557
11      hlda  20  0.201971  0.834283  0.533736  0.518097
12      hlda  30  0.197316  0.834130  0.532037  0.515950
13      hlda  40  0.196289  0.832672  0.530764  0.514709
14      hlda  50  0.194942  0.826960  0.529316  0.511902
15     hyhtm  10  0.373566  0.529442  0.379911  0.423363
16     hyhtm  20  0.379738  0.557303  0.377102  0.433667
17     hyhtm  30  0.393510  0.568405  0.373001  0.440522
18     hyhtm  40  0.404564  0.561224  0.370292  0.440906
19     hyhtm  50  0.407219  0.570425  0.368679  0.444287

In [5]:
arxiv_data[['model','k','s', 'd', 'c', 'HARIN']]

       model   k         s         d         c     HARIN
0   bertopic  10  0.217131  0.770103  0.496865  0.489752
1   bertopic  20  0.228126  0.775532  0.499288  0.495972
2   bertopic  30  0.212271  0.753209  0.498318  0.483054
3   bertopic  40  0.210739  0.755747  0.496098  0.482653
4   bertopic  50  0.212059  0.752191  0.496521  0.482054
5     cluhtm  10  0.454604  0.560430  0.354336  0.451892
6     cluhtm  20  0.456081  0.568749  0.350986  0.454019
7     cluhtm  30  0.469226  0.548517  0.350127  0.451397
8     cluhtm  40  0.460451  0.553681  0.350003  0.450165
9     cluhtm  50  0.472139  0.543569  0.350045  0.450698
10      hlda  10  0.214754  0.774297  0.513993  0.496005
11      hlda  20  0.215822  0.767044  0.511672  0.493198
12      hlda  30  0.232079  0.754694  0.512200  0.494661
13      hlda  40  0.226592  0.763098  0.510019  0.494904
14      hlda  50  0.223285  0.764978  0.509580  0.494288
15     hyhtm  10  0.431881  0.503629  0.359859  0.427472
16     hyhtm  20  0.417801  0.524078  0.361335  0.430061
17     hyhtm  30  0.426768  0.526024  0.357323  0.432338
18     hyhtm  40  0.438147  0.517590  0.353950  0.432197
19     hyhtm  50  0.443755  0.520407  0.352760  0.434584

In [6]:
yelp_korean_data[['model', 'k', 's', 'd', 'c', 'HARIN']]

       model   k         s         d         c     HARIN
0   bertopic  10  0.171504  0.823021  0.510128  0.496536
1   bertopic  20  0.154699  0.815509  0.507811  0.487746
2   bertopic  30  0.192098  0.810010  0.495029  0.494055
3   bertopic  40  0.187942  0.814960  0.494831  0.494252
4   bertopic  50  0.193225  0.796039  0.492868  0.489104
5     cluhtm  10  0.291339  0.730334  0.399273  0.468912
6     cluhtm  20  0.258143  0.724770  0.398128  0.455744
7     cluhtm  30  0.262801  0.706841  0.396997  0.450991
8     cluhtm  40  0.260779  0.719318  0.400611  0.455633
9     cluhtm  50  0.260560  0.720247  0.398208  0.455075
10      hlda  10  0.170118  0.844082  0.518534  0.505802
11      hlda  20  0.169109  0.864703  0.518276  0.512189
12      hlda  30  0.167874  0.866030  0.510314  0.509592
13      hlda  40  0.164016  0.868625  0.503729  0.507002
14      hlda  50  0.157005  0.870261  0.496062  0.502698
15     hyhtm  10  0.312441  0.770724  0.384934  0.484473
16     hyhtm  20  0.343136  0.781419  0.379398  0.496304
17     hyhtm  30  0.358269  0.801370  0.377337  0.507202
18     hyhtm  40  0.359966  0.766928  0.374589  0.495489
19     hyhtm  50  0.366828  0.754430  0.372539  0.492953

In [7]:

news_co_max_harin_model = news_data.groupby('model')['c'].idxmax()
news_co_max_harin_model= news_data.loc[news_co_max_harin_model]

covid_co_max_harin_model = covid_data.groupby('model')['c'].idxmax()
covid_co_max_harin_model= covid_data.loc[covid_co_max_harin_model]

pubmed_co_max_harin_model = pubmed_data.groupby('model')['c'].idxmax()
pubmed_co_max_harin_model= pubmed_data.loc[pubmed_co_max_harin_model]

arxiv_co_max_harin_model = arxiv_data.groupby('model')['c'].idxmax()
arxiv_co_max_harin_model = arxiv_data.loc[arxiv_co_max_harin_model]

yelp_korean_co_max_harin_model = yelp_korean_data.groupby('model')['c'].idxmax()
yelp_korean_co_max_harin_model = yelp_korean_data.loc[yelp_korean_co_max_harin_model]

In [8]:
covid_co_max_harin_model

,model,k,s,d,c,s+d,s+c,c+d,s+c+d,HARIN
1,bertopic,20,0.554006,0.455566,0.360983,1.009572,0.914989,0.816549,1.370555,0.452283
9,cluhtm,50,0.226500,0.408126,0.702310,0.634626,0.928810,1.110436,1.336936,0.441189
10,hlda,10,0.543158,0.583701,0.529656,1.126859,1.072814,1.113357,1.656515,0.546650

In [9]:
news_co_max_harin_model

,model,k,s,d,c,s+d,s+c,c+d,s+c+d,HARIN,d+c
0,bertopic,10,0.488521,0.479303,0.522991,0.967824,1.011513,1.002294,1.490815,0.491969,NaN
5,cluhtm,10,0.577446,0.487573,0.439463,1.065019,1.016909,0.927036,1.504482,0.496479,NaN
10,hlda,10,0.571510,0.467771,0.552540,1.039281,1.124050,1.020311,1.591821,0.525301,NaN
15,hyhtm,10,0.516092,0.473400,0.395258,0.989492,0.911350,0.868658,1.384750,0.456968,NaN

In [10]:
pubmed_co_max_harin_model

,model,k,s,d,c,s+d,s+c,c+d,s+c+d,HARIN
0,bertopic,10,0.185814,0.839758,0.510783,1.025572,0.696597,1.350540,1.536355,0.506997
5,cluhtm,10,0.393339,0.712943,0.381796,1.106282,0.775135,1.094739,1.488078,0.491066
10,hlda,10,0.206560,0.797282,0.534209,1.003842,0.740769,1.331491,1.538051,0.507557
15,hyhtm,10,0.373566,0.529442,0.379911,0.903008,0.753477,0.909354,1.282919,0.423363

In [11]:
arxiv_co_max_harin_model

,model,k,s,d,c,s+d,s+c,c+d,s+c+d,HARIN
1,bertopic,20,0.228126,0.775532,0.499288,1.003658,0.727415,1.274820,1.502946,0.495972
5,cluhtm,10,0.454604,0.560430,0.354336,1.015034,0.808940,0.914766,1.369370,0.451892
10,hlda,10,0.214754,0.774297,0.513993,0.989051,0.728747,1.288291,1.503044,0.496005
16,hyhtm,20,0.417801,0.524078,0.361335,0.941879,0.779136,0.885414,1.303215,0.430061

In [12]:
yelp_korean_co_max_harin_model

,model,k,s,d,c,s+d,d+c,s+c,s+c+d,HARIN,c+d
0,bertopic,10,0.171504,0.823021,0.510128,0.994525,1.333150,0.681632,1.504654,0.496536,NaN
8,cluhtm,40,0.260779,0.719318,0.400611,0.980097,1.119929,0.661389,1.380707,0.455633,NaN
10,hlda,10,0.170118,0.844082,0.518534,1.014200,1.362616,0.688652,1.532734,0.505802,NaN
15,hyhtm,10,0.312441,0.770724,0.384934,1.083165,1.155658,0.697376,1.468100,0.484473,NaN

In [13]:
## get best HARIN score in each dataset
news_max_harin_model = news_data.groupby('model')['HARIN'].idxmax()
news_max_harin_model= news_data.loc[news_max_harin_model]

covid_max_harin_model = covid_data.groupby('model')['HARIN'].idxmax()
covid_max_harin_model= covid_data.loc[covid_max_harin_model]

pubmed_max_harin_model = pubmed_data.groupby('model')['HARIN'].idxmax()
pubmed_max_harin_model= pubmed_data.loc[pubmed_max_harin_model]

arxiv_max_harin_model = arxiv_data.groupby('model')['HARIN'].idxmax()
arxiv_max_harin_model = arxiv_data.loc[arxiv_max_harin_model]

yelp_korean_max_harin_model = yelp_korean_data.groupby('model')['HARIN'].idxmax()
yelp_korean_max_harin_model = yelp_korean_data.loc[yelp_korean_max_harin_model]

In [14]:
covid_max_harin_model['s+d'] = covid_max_harin_model['s+d']/2
covid_max_harin_model['s+c'] = covid_max_harin_model['s+c']/2
covid_max_harin_model['c+d'] = covid_max_harin_model['c+d']/2
covid_max_harin_model

,model,k,s,d,c,s+d,s+c,c+d,s+c+d,HARIN
2,bertopic,30,0.605106,0.462367,0.345894,0.533736,0.475500,0.404131,1.413367,0.466411
9,cluhtm,50,0.226500,0.408126,0.702310,0.317313,0.464405,0.555218,1.336936,0.441189
10,hlda,10,0.543158,0.583701,0.529656,0.563430,0.536407,0.556678,1.656515,0.546650

In [15]:
news_max_harin_model['s+d'] = news_max_harin_model['s+d']/2
news_max_harin_model['s+c'] = news_max_harin_model['s+c']/2
news_max_harin_model['c+d'] = news_max_harin_model['c+d']/2
news_max_harin_model

,model,k,s,d,c,s+d,s+c,c+d,s+c+d,HARIN,d+c
4,bertopic,50,0.434326,0.578516,0.479368,0.506421,0.456847,0.528942,1.492210,0.492429,NaN
5,cluhtm,10,0.577446,0.487573,0.439463,0.532510,0.508454,0.463518,1.504482,0.496479,NaN
11,hlda,20,0.553731,0.509056,0.547616,0.531393,0.550674,0.528336,1.610403,0.531433,NaN
15,hyhtm,10,0.516092,0.473400,0.395258,0.494746,0.455675,0.434329,1.384750,0.456968,NaN

In [16]:
pubmed_max_harin_model['s+d'] = pubmed_max_harin_model['s+d']/2
pubmed_max_harin_model['s+c'] = pubmed_max_harin_model['s+c']/2
pubmed_max_harin_model['c+d'] = pubmed_max_harin_model['c+d']/2
pubmed_max_harin_model

,model,k,s,d,c,s+d,s+c,c+d,s+c+d,HARIN
0,bertopic,10,0.185814,0.839758,0.510783,0.512786,0.348298,0.675270,1.536355,0.506997
5,cluhtm,10,0.393339,0.712943,0.381796,0.553141,0.387567,0.547370,1.488078,0.491066
11,hlda,20,0.201971,0.834283,0.533736,0.518127,0.367854,0.684010,1.569990,0.518097
19,hyhtm,50,0.407219,0.570425,0.368679,0.488822,0.387949,0.469552,1.346324,0.444287

In [17]:
yelp_korean_max_harin_model['s+d'] = yelp_korean_max_harin_model['s+d']/2
yelp_korean_max_harin_model['s+c'] = yelp_korean_max_harin_model['s+c']/2
yelp_korean_max_harin_model['d+c'] = yelp_korean_max_harin_model['d+c']/2
yelp_korean_max_harin_model

,model,k,s,d,c,s+d,d+c,s+c,s+c+d,HARIN,c+d
0,bertopic,10,0.171504,0.823021,0.510128,0.497263,0.666575,0.340816,1.504654,0.496536,NaN
5,cluhtm,10,0.291339,0.730334,0.399273,0.510836,0.564804,0.345306,1.420946,0.468912,NaN
11,hlda,20,0.169109,0.864703,0.518276,0.516906,0.691490,0.343692,1.552088,0.512189,NaN
17,hyhtm,30,0.358269,0.801370,0.377337,0.579820,0.589354,0.367803,1.536976,0.507202,NaN

In [18]:
arxiv_max_harin_model['s+d'] = arxiv_max_harin_model['s+d']/2
arxiv_max_harin_model['s+c'] = arxiv_max_harin_model['s+c']/2
arxiv_max_harin_model['c+d'] = arxiv_max_harin_model['c+d']/2
arxiv_max_harin_model

,model,k,s,d,c,s+d,s+c,c+d,s+c+d,HARIN
1,bertopic,20,0.228126,0.775532,0.499288,0.501829,0.363707,0.637410,1.502946,0.495972
6,cluhtm,20,0.456081,0.568749,0.350986,0.512415,0.403534,0.459868,1.375816,0.454019
10,hlda,10,0.214754,0.774297,0.513993,0.494525,0.364374,0.644145,1.503044,0.496005
19,hyhtm,50,0.443755,0.520407,0.352760,0.482081,0.398258,0.436584,1.316923,0.434584

In [19]:
# add Human Score from questionnaire
covid_max_harin_model['Human Score'] = [0.66,0.56,0.79]
news_max_harin_model['Human Score'] = [0.56,0.7,0.81,0.53]
pubmed_max_harin_model['Human Score'] = [0.69,0.59,0.88,0.45]
yelp_korean_max_harin_model['Human Score'] = [0.64, 0.48, 0.79, 0.36]
arxiv_max_harin_model['Human Score'] = [0.68, 0.6, 0.73, 0.43]

In [20]:
print("covid\n")
print(covid_max_harin_model[['s', 'd', 'c','HARIN','Human Score']].corr())
print("\n\n")

print("20\n")
print(news_max_harin_model[['s', 'd', 'c','HARIN', 'Human Score']].corr())
print("\n\n")

print("pubmed\n")
print(pubmed_max_harin_model[['s', 'd', 'c','HARIN','Human Score']].corr())
print("\n\n")

print("Yelp\n")
print(yelp_korean_max_harin_model[['s', 'd', 'c','HARIN', 'Human Score']].corr())
print("\n\n")

print("arxiv\n")
print(arxiv_max_harin_model[['s', 'd', 'c','HARIN', 'Human Score']].corr())

covid

                    s         d         c     HARIN  Human Score
s            1.000000  0.626406 -0.925489  0.565906     0.730405
d            0.626406  1.000000 -0.284477  0.997159     0.989938
c           -0.925489 -0.284477  1.000000 -0.211450    -0.417273
HARIN        0.565906  0.997159 -0.211450  1.000000     0.976465
Human Score  0.730405  0.989938 -0.417273  0.976465     1.000000



20

                    s         d         c     HARIN  Human Score
s            1.000000 -0.804106  0.029648  0.294041     0.673376
d           -0.804106  1.000000  0.445358  0.271031    -0.167753
c            0.029648  0.445358  1.000000  0.946156     0.754759
HARIN        0.294041  0.271031  0.946156  1.000000     0.901905
Human Score  0.673376 -0.167753  0.754759  0.901905     1.000000



pubmed

                    s         d         c     HARIN  Human Score
s            1.000000 -0.908921 -0.986304 -0.815122    -0.835252
d           -0.908921  1.000000  0.908225  0.975143     0.889244
c           -0.986304  0.908225  1.000000  0.842738     0.906194
HARIN       -0.815122  0.975143  0.842738  1.000000     0.920015
Human Score -0.835252  0.889244  0.906194  0.920015     1.000000



Yelp

                    s         d         c     HARIN  Human Score
s            1.000000 -0.618198 -0.984193 -0.232196    -0.948398
d           -0.618198  1.000000  0.745199  0.907395     0.691940
c           -0.984193  0.745199  1.000000  0.398984     0.947326
HARIN       -0.232196  0.907395  0.398984  1.000000     0.338979
Human Score -0.948398  0.691940  0.947326  0.338979     1.000000



arxiv

                    s         d         c     HARIN  Human Score
s            1.000000 -0.981851 -0.999219 -0.955127    -0.819796
d           -0.981851  1.000000  0.985464  0.993665     0.902712
c           -0.999219  0.985464  1.000000  0.962169     0.839049
HARIN       -0.955127  0.993665  0.962169  1.000000     0.942563
Human Score -0.819796  0.902712  0.839049  0.942563     1.000000